<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CF4264A1C1FF0010024C5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF4265E1C1FF0010024C5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF426691C1FF0010024C5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
